{% extends "base.html" %}

{% block content %}
<table id="data" class="table table-hover">
    <tr>
        <th>Role</th>
        <td><strong>Head</strong></td>
        <td><strong>Tail</strong></td>
    </tr>
    <tr>
        <th>Lexical Unit ID</th>
        <td>{{ record.id_lu_1 }}</td>
        <td>{{ record.id_lu_2 }}</td>
    </tr>
    <tr>
        <th>Word</th>
        <td>
            <strong>
            {{ record.word_1 }}
            </strong>
        </td>
        <td>
            <strong>
            {{ record.word_2 }}
            </strong>
        </td>

    </tr>
    <tr>
        <th>Part of Speech</th>
        <td>{{ record.pos_1 }}</td>
        <td>{{ record.pos_2 }}</td>
    </tr>
    <tr>
        <th>FrameNet Definition</th>
        <td>
            <em>
            {{ record.fn_definition_1 }}
            </em>
        </td>
        <td>
            <em>
            {{ record.fn_definition_2 }}
            </em>
        </td>
    </tr>
    <tr>
        <th>Relation ID</th>
        <td id="relation-id" colspan="2">{{ record.record_id }}</td>
    </tr>
    <tr>
        <th>Qualia Relation</th>
        <td colspan="2"><strong>{{ record.relation }}</strong></td>
    </tr>
    <tr>
        <th>Is relation acceptable</th>
        <td colspan="2">
            <select id="select-annotation" name="annotation">
                <option value="empty"></option>
                <option value="ok">OK</option>
                <option value="wrong">WRONG</option>
            </select>
        </td>
    </tr>
        <tr>
        <th>Submitted</th>
        <td id="is-submitted" colspan="2">No</td>
    </tr>
</table>
<div class="d-grid gap-2 col-6 mx-auto">
    <button id="submit-button" class="btn btn-dark">Submit</button>
    <button id="reload" class="btn btn-dark">Next relation</button>
</div>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}