{% extends "base.html" %}

{% block content %}
<table id="data" class="table table-dark table-hover">
    <tr>
        <th>Relation ID</th>
        <td id="relation-id">{{ record.record_id }}</td>
    </tr>
    <tr>
        <th>Lexical Unit ID 1</th>
        <td>{{ record.id_lu_1 }}</td>
    </tr>
    <tr>
        <th>Word 1</th>
        <td>{{ record.word_1 }}</td>
    </tr>
    <tr>
        <th>Part of Speech 1</th>
        <td>{{ record.pos_1 }}</td>
    </tr>
    <tr>
        <th>FrameNet Definition 1</th>
        <td>{{ record.fn_definition_1 }}</td>
    </tr>
    <tr>
        <th>Qualia Relation</th>
        <td>{{ record.relation }}</td>
    </tr>
    <tr>
        <th>Lexical Unit ID 2</th>
        <td>{{ record.id_lu_2 }}</td>
    </tr>
    <tr>
        <th>Word 2</th>
        <td>{{ record.word_2 }}</td>
    </tr>
    <tr>
        <th>Part of Speech 2</th>
        <td>{{ record.pos_2 }}</td>
    </tr>
    <tr>
        <th>FrameNet Definition 2</th>
        <td>{{ record.fn_definition_2 }}</td>
    </tr>
    <tr>
        <th>Is relation acceptable</th>
        <td>
            <select id="select-annotation" name="annotation">
                <option value="empty"></option>
                <option value="ok">OK</option>
                <option value="wrong">WRONG</option>
            </select>
        </td>
    </tr>
        <tr>
        <th>Submitted</th>
        <td id="is-submitted">No</td>
    </tr>
</table>

<button id="submit-button">Submit</button>
<button id="reload">Next relation</button>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}