<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Qualia Annotation Tool</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if page_name == 'Index' %} active {% endif %}">
              <a class="nav-link{% if page_name == 'Index' %} active {% endif %}" aria-current="page" href="/">Index</a>
            </li>
            <li class="nav-item {% if page_name == 'Annotate' %} active {% endif %}">
              <a class="nav-link {% if page_name == 'Annotate' %} active {% endif %}" href="/annotate">Annotate</a>
            </li>
            <li class="nav-item {% if page_name == 'Annotated' %} active {% endif %}">
              <a class="nav-link {% if page_name == 'Annotated' %} active {% endif %}" href="/annotations">View Annotations</a>
            </li>
            <li class="nav-item {% if page_name == 'Relations' %} active {% endif %}">
              <a class="nav-link {% if page_name == 'Relations' %} active {% endif %}" href="/data">View Relations</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>