{% extends "base.html" %}
{% block content %}
<h1>Annotation Tool</h1>
<div>Description</div>
<div class="container">
    <h4>Downloads</h4>
    <div class="btn-group" role="group">
      <a href="/download/annotations" type="button" class="btn btn-outline-dark">Download Annotations</a>
      <a href="/download/data" type="button" class="btn btn-outline-dark">Download Relations</a>
    </div>
    <h4>Manage Data</h4>
    <div class="btn-group" role="group">
      <a type="button" class="btn btn-outline-dark" id="reset-all">Reset All Data</a>
      <a type="button" class="btn btn-outline-dark" id="reset-annotations">Reset Annotations</a>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/manage.js') }}"></script>
{% endblock %}