{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Accepted</th>
      </tr>
    </thead>
    <tbody>
      {% for annotation in annotations %}
        <tr>
          <td>{{ annotation.record_id }}</td>
          <td>{{ annotation.approved }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/load_tables.js') }}"></script>
{% endblock %}