{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Head Word</th>
        <th>Head Definition</th>
        <th>Relation</th>
        <th>Tail Word</th>
        <th>Tail Definition</th>
        <th>Accepted</th>
      </tr>
    </thead>
    <tbody>
      {% for annotation in annotations %}
        <tr>
          <td><a href="/annotate/{{ annotation.record_id }}">{{ annotation.record_id }}</a></td>
          <td>{{ annotation.word_1 }}</td>
          <td>{{ annotation.fn_definition_1 }}</td>
          <td>{{ annotation.relation }}</td>
          <td>{{ annotation.word_2 }}</td>
          <td>{{ annotation.fn_definition_2 }}</td>
          <td>{{ annotation.approved }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/load_tables.js') }}"></script>
{% endblock %}